
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Página de Ayuda</title>
</head>
<body>    
    <main>
        <section id="Inicio">
            <div class="content">
                <h1>Página de Ayuda</h1>
                <p>Añadir texto</p>
                <p>Añadir texto</p>
                <img src="tu-imagen.jpg" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="Candidato">
            <div class="content">
                <h1>Página de Ayuda</h1>
                <p>Añadir texto</p>
                <p>Añadir texto</p>
                <img src="tu-imagen.jpg" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="resultado">
            <div class="content">
                <h1>Bienvenido a la Página de Ayuda</h1>
                <p>AÑADIR TEXTO</p>
                <p>AÑADIR TEXTO</p>
                <img src="tu-imagen.jpg" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="partido">
            <div class="content">
                <h1>Bienvenido a la Página de Ayuda</h1>
                <p>AÑADIR TEXTO</p>
                <p>AÑADIR TEXTO</p>
                <img src="tu-imagen.jpg" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="mesa">
            <div class="content">
                <h1>Página de Ayuda</h1>
                <p>AÑADIR TEXTO</p>
                <p>AÑADIR TEXTO</p>
                <img src="tu-imagen.jpg" alt="Descripción de la imagen">
            </div>
        </section>
    </main>
</body>
</html>


