<!-- usuarios.component.html -->
<div class="users-list">
    <h1 class="text-center">Lista de Candidatos</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="irALaCrearDeCandidato()" class="btn btn-primary">Añadir</button>
    </div>
    <table class="table table-hover">
        <thead class="table-header">
            <tr>
                <th>nombreResolucion</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>inscritos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidato">
                <td>{{ candidato.nombreResolucion }}</td>
                <td>{{ candidato.nombre }}</td>
                <td>{{ candidato.apellido }}</td>
                <td>{{ candidato.inscritos }}</td>
                <td>
                    <button (click)="actualizarCandidato(candidato._id)" class="btn btn-edit">Editar</button>
                    <button (click)="eliminarCandidato(candidato._id)" class="btn btn-delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
