<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Location</h4>
                <p>
                    2215 JHON
                    <br>
                    Clark, MO 65243
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Around the Web</h4>
                <div class="social-icons">
                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a href="#!"><i class="fab fa-tiktok"></i></a>
                    <a href="#!"><i class="fab fa-instagram"></i></a>
                    <a href="#!"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>About Freelancer</h4>
                <p>
                    <!-- Información sobre Freelancer -->
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright Section -->
<div class="copyright py-4 text-center text-white">
    <hr>
    <div class="container"><small>&copy; zason natal tiene derechos de actor</small></div>
</div>
