/* Estilos generales del footer */
.footer {
    padding: 5rem 0;
    background-color: #000000dd;
    color: #fff;
}

/* Estilos para la sección de ubicación */
.footer h4 {
    font-size: 1.5rem;
}

/* Estilos para los iconos sociales */
.social-icons a {
    margin-right: 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #c0c0c0; /* Cambiar el color al pasar el ratón */
}

/* Estilos para el texto de derechos de autor */
.copyright {
    background-color: #000000dd;
}

/* Estilos para los pequeños elementos de texto */
small, .small {
    font-size: 0.875em;
}
